*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.video-container{
    min-width: 400px;
    width: 64%;
    height: 36vw;
    
    position: relative;

    right: 0%;
    bottom: 0px;
}

#video{
    width: 100%;
    height: 100%;

    border: 2px solid #BBB;
}

img{
    width: 30px;
    filter: invert(100%);
}

.controls{
    background-color: #000;
    width: 100%;
    height: fit-content;
    
    position: absolute;
    top: 100%;
    transform: translateY(-100%);

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip{
    opacity: 100%;
}

#progress_bar{
    width: 100%;
}

.left-controls{
    display: inline-block;
    height:fit-content;
}

.tooltip{
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text{
    background-color: #333;
    color: #fff;
    
    white-space: nowrap;
    position: absolute;
    
    bottom: 170%;
    left: 50%;
    margin-left: -30px;


    border-radius: 1px;
    padding: 4px;
    text-align: center;
    font-size: small;
    z-index: 1;

    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .play{
    margin-left: -10px;
}

.tooltip .mini-screen{
    left: 0%;
}

.tooltip .theater-screen{
    left: -60%;
}

.tooltip .full-screen{
    left: -110%;
}

.volume-slider{
    width: 64px;
    height: 3px;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
}

.time-container{
    display: inline-block;
    position: absolute;
    left: 140px;
    top: 65%;
    transform: translateY(-50%);
}

.time{
    color: white;    
}

.right-controls{
    display: inline-block;
    position: absolute;
    right: 0;
}

.properties{
    background-color: rgb(129, 189, 255);

    border: 1px solid;
    border-radius: 4px;
    width: fit-content;
    margin-top: 10px;
    padding: 5px;
}

.properties h3{
    text-align: center;
    padding-bottom: 10px;
}



/* Hovers */
.video-container:hover .controls{
    cursor: pointer;
    opacity: 70%;
}

img:hover{
    cursor: pointer;
}

.volume-slider:hover{
    cursor: pointer;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 100%;
}
