*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
}
.container{
    width: 64%;
    height: 36vw;

    position: relative;
}

#video{
    width: 100%;
    height: 100%;

    border: 2px solid #BBB;
}

img{
    width: 30px;
    filter: invert(100%);
}

.controls{
    background-color: #000;
    width: 100%;
    height: fit-content;
    
    position: absolute;
    opacity: 100%;
    top: 100%;
    transform: translateY(-100%);
}

#progress_bar{
    width: 100%;
}

.left-controls{
    display: inline-block;
    height:fit-content;
}

.volume-slider{
    width: 64px;
    height: 3px;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
}

.time-container{
    display: inline-block;
    position: absolute;
    left: 140px;
    top: 65%;
    transform: translateY(-50%);
}

.time{
    color: white;    
}

.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
}

.volume-slider::-moz-range-thumb{
    -moz-appearance: none;
}


.right-controls{
    display: inline-block;
    position: absolute;
    right: 0;
}

/* Hovers */
.container:hover .controls{
    cursor: pointer;
    opacity: 30%;
}

img:hover{
    cursor: pointer;
}

.volume-slider:hover{
    cursor: pointer;
}
